<div class="title-item">
    <video src="assets/videos/trailer_guardioes_da_galaxia_1080p.mp4" controls autoplay muted="muted"></video>
    <img src="assets/images/guardios-da-galaxia.jpg" alt="Título">
    <div class="items">
        <div class="left-side">
            <button type="button" class="btn-play"><i class="material-icons">play_arrow</i></button>
            <h2>Guardiões da Galaxia</h2>
            <ul class="infos">
                <li class="relevance">98% relevante</li>
                <li class="age age-12"></li>
                <li class="parts">2 partes</li>
            </ul>
            <ul class="categories">
                <li>Épico</li>
                <li>Filme de fantasia</li>
                <li>Viagem no espaço</li>
            </ul>
        </div>
    </div>
</div>