<div class="row no-gutters">

    <div class="col-12 full-banner text-white">
        <div class="p-4 d-flex justify-content-start h-100">
            <div>
                <h1 class="h3">Vingadores: Ultimato</h1>
                <small class="d-flex my-2">
                    <span class="mr-3">2019</span>
                    <span class="mr-3">12</span>
                    <span>182min</span>
                </small>
                <p class="d-none d-lg-block">Após Thanos eliminar metade das criaturas vivas, os Vingadores têm de lidar com a perda de amigos e entes queridos. Com Tony Stark vagando perdido no espaço sem água e comida, Steve Rogers e Natasha Romanov lideram a resistência contra o titã louco.</p>
                <a href="#" class="btn btn-primary text-uppercase font-weight-bold">Assistir</a>
            </div>
        </div>
    </div>

</div>